* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Zalando Sans", sans-serif;
}
body {
  background-color: var(--background);
  color: var(--text);
}
.fa-solid {
  color: var(--primary);
}
.number {
  color: var(--accent);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  transition: background-color 0.3s ease;
}
a:focus-visible {
  outline: 1px solid var(--primary);
}
button {
  cursor: pointer;
  transition: var(--transition-tf), var(--transition-bg);
}
button:focus-visible {
  outline: 1px solid var(--primary);
}
:root {
  --background: #fffaff;
  --text: #050401;
  --primary: #30bced;
  --secondary: #303036;
  --accent: #fc5130;
  --padding-section: 12px;
  --padding-button: 8px;
  --margin: 15px;
  --border: 50px;
  --shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  --gap: 15px;
  --header: 60px;
  --transition-bg: background-color 0.3s ease;
  --transition-tf: transform 0.3s ease;
  --hover: #edeaed;
  --card-width: 300px;
  --grid-one-column: 1fr;
}
header {
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-section);
  position: sticky;
  z-index: 1000;
  top: 0;
  border-bottom: 1px solid var(--secondary);
  height: var(--header);
}
.nav-list {
  display: none;
}
.nav-list a {
  padding: var(--padding-button);
  border-radius: var(--border);
}
.nav-list a:hover {
  background-color: var(--hover);
}
.menu-btn {
  background: none;
  border: none;
  padding: var(--padding-button);
  border-radius: var(--border);
  transition: var(--transition-bg), var(--transition-tf);
}
.fa-bars,
.fa-square-up-right {
  color: var(--text);
}
.menu-btn:hover {
  background-color: var(--hover);
}
.menu-btn.open {
  transform: rotate(90deg);
}
.cta-btn {
  font-size: 1.5em;
  background-color: var(--accent);
  color: var(--background);
  border: none;
  border-radius: var(--border);
  padding: var(--padding-button);
}
.cta-btn:hover {
  background-color: #ca4227;
  transform: scale(1.05);
}
.header-btn {
  background-color: var(--background);
  color: var(--primary);
  font-size: 1em;
}
.header-btn:hover {
  background-color: var(--hover);
  transform: none;
}
.mobile-nav {
  display: none;
}
.mobile-nav.open {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1000;
  background-color: var(--background);
  width: 100%;
  text-align: center;
}
.mobile-link {
  border-bottom: 1px solid var(--secondary);
  transition: var(--transition-bg);
}
.mobile-link:hover {
  background-color: var(--hover);
}
.mobile-link a {
  padding: var(--padding-section);
  display: block;
  width: 100%;
}
section {
  padding: 0 var(--padding-section);
  scroll-margin-top: var(--header);
}
#home {
  background-image: url("static/blob-scatter-haikei.svg");
  display: flex;
  flex-direction: column;
}
.hero-btn {
  max-width: 10rem;
  margin: var(--margin);
  align-self: center;
  padding: var(--padding-button);
}
#home-subtext {
  text-align: center;
  transition: var(--transition-tf);
}
#home-subtext:hover {
  transform: translateX(10px);
}
.container {
  margin: var(--margin) 0;
}
.feature-cards {
  display: grid;
  grid-template-columns: var(--grid-one-column);
  gap: var(--gap);
}
.card {
  background-color: var(--background);
  box-shadow: var(--shadow);
  border-radius: 25px;
  padding: var(--padding-section);
  transition: transform 0.3s ease;
}
.card-header {
  display: flex;
  align-items: center;
}
.metrics-cards {
  display: grid;
  grid-template-columns: var(--grid-one-column);
  gap: var(--gap);
}
.metrics-header {
  display: flex;
  align-items: center;
}
.testimonial-cards {
  display: grid;
  grid-template-columns: var(--grid-one-column);
  gap: var(--gap);
}
.testimonial-card {
  position: relative;
}
.user {
  display: flex;
  align-items: center;
  gap: var(--gap);
}
.user-profile {
  min-width: 75px;
  min-height: 75px;
  aspect-ratio: 1/1;
  border-radius: var(--border);
  box-shadow: var(--shadow);
  background-color: var(--background);
  padding: var(--padding-section);
}
#cta-section {
  display: flex;
  flex-direction: column;
}
.last-btn {
  align-self: center;
  margin: var(--margin);
}
.cta-text {
  text-align: center;
}
footer {
  margin-top: var(--margin);
  padding: var(--padding-section);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-sections {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.footer-text {
  padding-top: 5rem;
}
.section-heading {
  padding: 2rem var(--padding-section);
  text-align: center;
}
@media screen and (min-width: 600px) {
  .section-heading {
    padding: 5.25rem var(--padding-section);
  }
  .nav-list {
    gap: 30px;
    display: flex;
  }
  .menu-btn {
    display: none;
  }
  .feature-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .metrics-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .testimonial-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-sections {
    grid-template-columns: repeat(3, 1fr);
  }
  #home {
    background-image: url("static/blob-scatter-haikei(1).svg");
  }
}
@media screen and (min-width: 1200px) {
  .nav-list {
    gap: 60px;
  }
  .feature-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .metrics-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .testimonial-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  footer {
    padding: 5.25rem var(--padding-section) 0;
    background-image: url("static/blob-scatter-haikei(2).svg");
  }
  .card:hover {
    transform: scale(1.025);
  }
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
